.title {
    color: #f9bf3b;
    font-size: 41px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &_light {
        color: #252525;
        font-size: 30px;
        font-weight: 400;
        line-height: 30px;
        &_white {
            color: #efefef;
        }
    }
    &_blue {
        color: #299cbd;
        font-size: 26px;
        font-weight: 700;
        line-height: 30px;
    }
}

@media (max-width: 1200px) {

}

@media (max-width: 992px) {
    .title {
        font-size: 32px;
        line-height: 35px;
        &_blue {
            font-size: 22px;
        }
    }
}

@media (max-width: 768px) {
    .title {
        &_light {
            font-size: 28px;
            &_white {
                font-size: 28px;
            }
        }
        &_blue {
            font-size: 20px;
        }
    }
}

@media (max-width: 576px) {
    .title {
        font-size: 23px;
    }
}